<main class="text-center">
        <h1 class="display-4">@ViewBag.Dish.Name</h1>
        <p>@ViewBag.Dish.ChefName</p>
        <br>
        <hr/>
        <p style="font-weight: bold;">@ViewBag.Dish.Description</p>
        <p style="text"></p>
        <p style="text-decoration: bold;"></p>

        <p > <span style="font-weight: bold;"> Calories:</span> @ViewBag.Dish.Calories</p>
        <p > <span style="font-weight: bold;"> Tastiness:</span> @ViewBag.Dish.Tastiness</p>

    </main>